<footer class="image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="/assets/images/art/bg4.jpg">
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper position-absolute" preserveAspectRatio="none" viewBox="0 0 1070 52">
 <path d="M0,0S247,91,505,32c261.17-59.72,565-13,565-13V0Z" /></svg></div>
  <div class="space100"></div>
  <div class="container inner">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
         <a href="{{site.data.general_settings.url}}">
          {% if include.light_logo %}
            <img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
            {% else %}
            <img src="{{site.data.general_settings.black_logo_1x}}" srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
          {% endif %}
         </a>
          <p>{{site.data.general_settings.copyright_text}}</p>
              {% if site.data.general_settings.social_accounts.title %}
              {% endif %}
              <ul class="social social-mute social-s ms-auto">
              {% for social_info in site.data.general_settings.social_accounts.links %}
              <li><a href="{{social_info.url}}"><i class="{{social_info.icon}}"></i></a></li>
              {% endfor %}
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        {% assign external_links_02 = site.data.general_settings.external_links_02 %}
        <div class="widget">
          {% if external_links_02.title %}
           <h5 class="widget-title">{{external_links_02.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in external_links_02.links %}
            <li><a href="{{links.url}}">{{links.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        {% assign external_links = site.data.general_settings.external_links %}
        <div class="widget">
          {% if external_links.title %}
           <h5 class="widget-title">{{external_links.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in external_links.links %}
            <li><a href="{{links.url}}">{{links.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        {% assign external_links_03 = site.data.general_settings.external_links_03 %}
        <div class="widget">
          {% if external_links_02.title %}
           <h5 class="widget-title">{{external_links_03.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in external_links_03.links %}
            <li><a href="{{links.url}}">{{links.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <!-- /column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</footer>